.adminDictants {
  table {
    .form-group {
      margin-bottom: 0;
    }
  }
}

.label-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: green;
    }
  }
  label {
    margin-bottom: 0rem;
  }
}